services:
  app:
    image: build
    ports:
      - "3000:3000"
    volumes:
      - .:/app
    command: 
      sh -c "npx prisma migrate deploy && npx prisma generate && npm run dev"
    depends_on:
      db:
        condition: service_healthy


  db:
    image: postgres
    restart: always
    shm_size: 128mb
    ports:
      - "5432:5432"
    #volumes:
    #  - type: tmpfs
    #    target: /dev/shm
    #    tmpfs:
    #      size: 134217728 # 128*2^20 bytes = 128Mb
    environment:
      POSTGRES_USER: user
      POSTGRES_DB: mydb
      POSTGRES_PASSWORD: 12345678
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d mydb"]
      interval: 5s
      retries: 5
      timeout: 10s
      start_period: 3s
